*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

body {
    margin: 0;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link,
a {
    text-decoration: none;

}

a,
button {
    transition: all 0.2s ease-in-out;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

h2 {
    color: var(--color-primary-dark);
    font-family: 'Play', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.1;

    @media screen and (min-width: $bp-desktop) {
            font-size: 64px;
        }
}

h2.section-title {
    text-align: center;
    margin-bottom: 24px;

    @media screen and (min-width: $bp-desktop) {
            margin-bottom: 48px;;
        }
}

img {
    object-fit: cover;
}

