@import './utils/fonts';
@import './utils/variables';
@import './base';
@import './utils/utils';

@import './components/animation-decor';
@import './components/buttons';
@import './components/carousel-button';
@import './components/input';
@import './components/pagination';


@import './layouts/about-us-section';
@import './layouts/advantages-section';
@import './layouts/contact-section';
@import './layouts/container';
@import './layouts/footer-section';
@import './layouts//header';
@import './layouts/hero-section';
@import './layouts/mobile-menu';
@import './layouts/modal';
@import './layouts/services-section';
@import './layouts/texts';
