:root {
    --color-primary-brand: rgb(43, 127, 255);
    --color-primary-dark: rgb(1, 28, 68);
    --color-primary-light: #FFFFFF;
    --color-secondary-dark: rgb(74, 74, 74);
    --color-secondary-light: rgb(116, 114, 114);
    --color-original-black: rgb(0, 0, 0);
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;




