@keyframes spin-and-pulse {
    0% {
        transform: rotate(0deg) scale(1);
    }

    25% {
        transform: rotate(90deg) scale(1.5);
    }

    50% {
        transform: rotate(180deg) scale(0.5);
    }

    75% {
        transform: rotate(270deg) scale(1.5);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

.decor {
    position: relative;

    &__item {
        position: absolute;
        transform-origin: center center;
        animation-name: spin-and-pulse;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    &__item.medium-star {
        fill: var(--color-primary-brand);
        right: 0;
        top: 30px;
        animation-delay: 0.8s;
    }

    &__item.small-star {
        fill: var(--color-secondary-light);
        right: 30px;
        top: 280px;
        animation-delay: 0.2s;
    }

    &__item.large-star {
        fill: var(--color-primary-dark);
        right: 300px;
        top: 350px;
        animation-delay: 0.5s;
    }
}