.button {
    color: var(--color-primary-light);
    background-color: var(--color-primary-brand);
    border: 2px solid var(--color-primary-brand);
    border-radius: 32px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.1;
    padding: 16px 32px 16px 32px;
    margin-top: 40px;

    &:hover {
            color: var(--color-primary-dark);
            background-color: transparent;   }
}

