.carousel-button {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
    fill: var(--color-primary-dark);
    border: 1px solid var(--color-primary-dark);
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    &.prev {
        left: 0;
    }

    &.next {
        right: 0;
    }

    &:hover {
        background-color: var(--color-primary-brand);
        border-color: var(--color-primary-brand);
        fill: var(--color-primary-dark);

        .arrow {
            fill: var(--color-primary-light);
        }
    }
}

.arrow {
    fill: var(--color-primary-dark);
}

.rotated {
    transform: rotate(180deg);
}