.input {
  position: relative;
  padding-bottom: 16px;

  &__label {
    position: absolute;
    top: 50px;
    left: 42px;
  }

  &__control {
    padding: 18px 32px;
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.1;
    border: 1.5px solid var(--color-secondary-light);
    border-radius: 32px;
    background-color: transparent;
    color: var(--color-primary-light);
    transition: background-color 0.3s ease, color 0.3s ease;

    &:focus {
      outline: none;
      background-color: var(--color-secondary-light);
      color: var(--color-primary-light);
    }

    &::placeholder {
      font-size: 13px;
      font-weight: 400;
      line-height: 1.1;
      color: var(--color-primary-light);
    }
  }
}
