.contact-section {
    &__container {
        display: flex;
        gap: 32px;
        justify-content: center;
        margin-bottom: 96px;
    }

    &__map {
        flex-shrink: 0;
    }


    &__box {
        flex-shrink: 0;
        width: 423px;
        height: auto;
        background-image: url(../images/footer.jpg);
        border-radius: 32px;
        padding: 48px 56px;
    }

    &__button {
        display: block;
        margin: 0 auto;

        &:hover {
            color: var(--color-primary-light);
        }
    }

    &__terms {
        margin-top: 8px;
        margin-bottom: 0;
        text-align: center;
        font-size: 12px;
        line-height: 1.5;
        font-weight: 400;
        color: var(--color-secondary-light);
    }

    &__title {
        margin-bottom: 32px;
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        font-weight: 600;
        letter-spacing: 1.1;
        text-align: center;
        color: var(--color-primary-light)
    }

    &__terms-link {
        color: var(--color-secondary-light);
        text-decoration: underline;
    }
}