.header-container {
    background-image: image-set(url("../images/medical-background.png") 1x, url("../images/medical-background@2x.png") 2x);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
    min-height: 687px;
    padding-bottom: 125px;

    &__top-bar {
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.25);
    }

    &__menu {
        display: flex;
        gap: 240px;
        justify-content: space-between;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    &__list {
        display: flex;
        gap: 56px;
        padding: 0;
        margin: 0;
    }

    &__link {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.1;
        color: var(--color-primary-dark);

        &:hover {
            color: var(--color-primary-brand);
        }
    }

    &__logo-contacts {
        padding: 0;
        display: flex;
        gap: 32px;
        margin: 0;
    }

    &__address-icon {
        fill: var(--color-primary-dark);
    }
}