.hero-section {
    padding-left: 106px;
    display: flex;
    flex-direction: column;
    align-items: start;

    &__title {
        color: var(--color-primary-brand);
        font-family: 'Play', sans-serif;
        font-size: 140px;
        font-weight: 700;
        line-height: 0.8;
        text-transform: capitalize;
        margin-bottom: 0;
    }

    &__subtitle {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.1;
        margin-top: 0;
        padding-top: 16px;
        margin-bottom: 16px;
    }

    &__button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    &__offer {
        color: var(--color-secondary-dark);
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        margin: 0;
    }
}