.services-list {
    color: var(--color-primary-light);
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.1;

    &__container {
        padding: 0 0 40px;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;

        @media screen and (min-width: $bp-tablet) {
                padding: 0 0 96px;
            }
    }

    &__carouselle {
        overflow: hidden;
        margin: 0;

    @media screen and (min-width: $bp-tablet) {
            margin: 0 64px;
        }
    }

    &__item {
        display: flex;
        height: auto;
        flex-shrink: 0;
        width: auto;
    }

    &__bar {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    &__box {
        flex-grow: 1;
        display: flex;;
        flex-direction: column;
        position: relative;
        

        

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background: linear-gradient(180deg, rgba(1, 28, 68, 0) 48.529%, rgba(1, 28, 68, 0.73) 84.641%, rgb(1, 28, 68) 101.43%);
            z-index: 0;
            border-radius: 4px 120px 4px 120px;
            
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            border-radius: 4px 120px 4px 120px;
        }

    }

    &__title {
        position: absolute;
        bottom: 32px;
        left: 115px;
        right: 77px;
        color: var(--color-primary-light);
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        z-index: 1;
        margin: 0;
    }

    &__block {
        display: flex;

    }

}